.f{
    background-color: rgb(254, 83, 83);
    margin-left: 30px;
    width: 800px;
    /* height: 100px; */
}
.r{
    background-color: rgb(243, 93, 243);
    margin-left: 30px;
    width: 800px;
}
#y{
    margin-left: 400px;
    margin-top: 0px;
}
.t{
    background-color: aqua;
}
.e{
    background-color: rgb(81, 156, 210);
}
.w{
    background-color: rgb(144, 71, 212);
}
.a{
    background-color: rgb(215, 53, 53);
}
#l{
    width: 600px;
    border: 5px solid rgb(6, 6, 117);
    margin-left: 300px;
    margin-top: 20px;
    box-shadow: 10px 10px 5px gray;
    padding-left: 10px;
}
#j{
    background-color: rgb(255, 191, 0);
    height: 200px;
    background-image: url('');
}