.f{
    background-color: rgb(254, 83, 83);
    margin-left: 30px;
    width: 800px;
    /* height: 100px; */
}
.r{
    background-color: rgb(243, 93, 243);
    margin-left: 30px;
    width: 800px;
}
#y{
    margin-left: 400px;
    margin-top: 0px;
}