.oo{
    color: blue;
    font-weight: 400;
    background-color: aquamarine;
    width: 300px;
    padding-left: 1px;
    margin-left: 480px;
}
#pp{
    background-color: papayawhip;
}
.nn{
    color: rgb(229, 196, 113);
}
#p{
    margin-left: 480px;
}
.v{
    /* text-align: center; */
    /* background-color: rgb(50, 229, 109); */
    /* width: 200px; */
    /* height: 500px; */
    border: 4px solid rgb(18, 5, 153);
    border-radius: 20px;
    margin-left: 470px;
    margin-right: 460px;
}
.i{
    /* text-align: center; */
    /* background-color: rgb(50, 229, 109); */
    /* text-align: center; */
    margin-left: 50px;
    font-size: x-large;
}

